
body {
    background-color: #0e0e0e;
    margin: 0px;
    height: 100vh;
    line-height: 20px;
    box-sizing: border-box;


color: white;
}

.header{

}
.title-header {

}
.info{
    padding: 10px;

}
.info.title{

}
.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.card-item {
    border: 2px dashed gray;
    text-align: justify;
    position: relative;
    margin: 20px;
    width: 25%;
    
}

.card-item h2 {
    position: absolute;
    border: 1px solid rgb(207, 202, 202);
    margin: 0px;
    color:rgb(173, 39, 167);
    padding: 5px 10px;
    transform: translate(50%, 50%);
    width: 90%;
    

}
.info__card {
    color:rgb(165, 56, 74);
    padding-top: 50px;

}
.code-snippet {
    border-radius:5px;
    background: linear-gradient(to bottom, rgb(173, 39, 167), pink );
    padding:10px;
    
}
.title__footer{

}
@media screen and (max-width:992px) {

}